<div class="Grid">
  <br>
  <div class="Grid__Cell Form__Label">  <span style="font-size:1.2em; font-weight: bold;">＜大型機発信について＞</span><br>
    <span style="font-size:1.2em;">参加者の皆様の氏名を弊社グループ、ロゴストロンの最高機種を含むインフラより発信させていただきます。</span><br>
    <span style="font-size:1.2em; color: red; font-weight: bold;">(申込数1に対して1名様分の氏名)</span><br>
    <br>
    <span style="font-size:1.2em; font-weight: bold;">発信するお名前を姓名別々にひらがなでご入力ください。</span><br>
    ※ひらがな以外（記号・スペースなど）はご入力できませんのでご注意ください。<br>
  <br>
  </div>
  <div class="Grid__Cell Form__Label"><span style="font-size:1.2em; font-weight: bold;">祭祀参加ご本人様※</span></div>
            <div class="Grid__Cell 2/3 Form__Item">
              <input required="required" type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[祭祀参加1姓]" aria-label="祭祀参加ご本人様" placeholder="姓をひらがなでご記入ください">
              <label class="Form__FloatingLabel">姓</label>
            </div>
              <div class="Grid__Cell 2/3 Form__Item">
              <input required="required" type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[祭祀参加1名]" aria-label="祭祀参加ご本人様" placeholder="名をひらがなでご記入ください">
              <label class="Form__FloatingLabel">名</label>
            </div>
</div>

