<div class="Grid">
  <br>
  <div class="Grid__Cell Form__Label">  <span style="font-size:1.2em; font-weight: bold;">＜大型機発信について＞</span><br>
    <span style="font-size:1.2em;">参加者の皆様の氏名を弊社グループ、ロゴストロンの最高機種を含むインフラより発信させていただきます。</span><br>
    <span style="font-size:1.2em; color: red; font-weight: bold;">(申込数1に対して1名様分の氏名)</span><br>
    <br>
    <span style="font-size:1.2em; font-weight: bold;">発信するお名前を姓名別々にひらがなでご入力ください。</span><br>
    <span style="font-size:1.2em; color: red; font-weight: bold;">※「ご本人様」は必須</span><br>
    ※ひらがな以外（記号・スペースなど）はご入力できませんのでご注意ください。<br>
  <br>
  </div>
  <div class="Grid__Cell Form__Label"><span style="font-size:1.2em; font-weight: bold;">祭祀参加ご本人様</span></div>
            <div class="Grid__Cell 2/3 Form__Item">
              <input required="required" type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[祭祀参加1姓]" aria-label="祭祀参加ご本人様" placeholder="姓をひらがなでご記入ください">
              <label class="Form__FloatingLabel">姓</label>
            </div>
              <div class="Grid__Cell 2/3 Form__Item">
              <input required="required" type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[祭祀参加1名]" aria-label="祭祀参加ご本人様" placeholder="名をひらがなでご記入ください">
              <label class="Form__FloatingLabel">名</label>
            </div>
  <div class="Grid__Cell Form__Label"><span style="font-size:1.2em; font-weight: bold;">祭祀参加お連れ様</span></div>
            <div class="Grid__Cell 2/3 Form__Item">
              <input type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[祭祀参加2姓]" aria-label="祭祀参加お連れ様" placeholder="姓をひらがなでご記入ください" >
              <label class="Form__FloatingLabel">姓</label>
            </div>
              <div class="Grid__Cell 2/3 Form__Item">
              <input type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[祭祀参加2名]" aria-label="祭祀参加お連れ様" placeholder="名をひらがなでご記入ください" >
              <label class="Form__FloatingLabel">名</label>
            </div>
  <br>
  <br>
   <div class="Grid__Cell Form__Label">  <span style="font-size:1.2em; font-weight: bold;">＜形代発信について＞</span><br>
<span style="font-size:1.2em;">形代をご購入された皆様の氏名を弊社グループ、ロゴストロンの最高機種を含むインフラより発信させていただきます。</span><br>
     <span style="font-size:1.2em; color: red; font-weight: bold;">(形代ご購入数1に対して1名様分の氏名)</span><br>
    <br>
    <span style="font-size:1.2em; font-weight: bold;">発信するお名前（フルネーム）をひらがなでご入力ください。</span><br>
    ※ひらがな以外（記号・スペースなど）はご入力できませんのでご注意ください。<br>
  <br>
  </div>
  <div class="Grid__Cell Form__Label"><span style="font-size:1.2em; font-weight: bold;">形代お申込ご本人様</span></div>
            <div class="Grid__Cell 2/3 Form__Item">
              <input type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[形代1]" aria-label="形代お申込ご本人様" placeholder="ひらがなでご記入ください">
              <label class="Form__FloatingLabel">姓名</label>
            </div>
  <div class="Grid__Cell Form__Label"><span style="font-size:1.2em; font-weight: bold;">形代お申込2人目</span></div>
            <div class="Grid__Cell 2/3 Form__Item">
              <input type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[形代2]" aria-label="形代お申込2人目" placeholder="ひらがなでご記入ください" >
              <label class="Form__FloatingLabel">姓名</label>
            </div>
   <div class="Grid__Cell Form__Label"><span style="font-size:1.2em; font-weight: bold;">形代お申込3人目</span></div>
            <div class="Grid__Cell 2/3 Form__Item">
              <input type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[形代3]" aria-label="形代お申込3人目" placeholder="ひらがなでご記入ください" >
              <label class="Form__FloatingLabel">姓名</label>
            </div>
   <div class="Grid__Cell Form__Label"><span style="font-size:1.2em; font-weight: bold;">形代お申込4人目</span></div>
            <div class="Grid__Cell 2/3 Form__Item">
              <input type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[形代4]" aria-label="形代お申込4人目" placeholder="ひらがなでご記入ください" >
              <label class="Form__FloatingLabel">姓名</label>
            </div>
   <div class="Grid__Cell Form__Label"><span style="font-size:1.2em; font-weight: bold;">形代お申込5人目</span></div>
            <div class="Grid__Cell 2/3 Form__Item">
              <input type="text" pattern="[\u3041-\u3096ー]*" class="Form__Input" name="properties[形代5]" aria-label="形代お申込5人目" placeholder="ひらがなでご記入ください" >
              <label class="Form__FloatingLabel">姓名</label>
            </div>
</div>


<!--
  <label>発信するお名前をひらがなでご入力ください。</label><br>
          <div class="grid__item medium-up--one-half cart-attribute__field">
            <input required type="text" name="properties[姓]" value="{{ properties["姓"] }}" placeholder="例）やまだ" />
          </div>
          <div class="grid__item medium-up--one-half cart-attribute__field">
            <input required type="text" name="properties[名]" value="{{ properties["名"] }}" placeholder="例）たろう"  />
          </div>
  <br>
  <br>
-->