<style>
  .line-item-property-box {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .line-item-property--align-left {
    text-align: left;
  }
  .line-item-property-form__radio {
    margin-bottom: 20px;
  }
  .line-item-property-form__grid {
    margin-top: 15px;
  }  
</style> 

<div class="grid line-item-property-box">
  <h1 class="custom_form__title h2"></h1>
   <div class="grid__item line-item-property-form__grid line-item-property--align-left">
     <label style="margin-bottom:0px; font-weight: bold;">ギフト用をご希望の場合、「○○様より」に入れる差出人名をご入力ください。<br>
       不要の方は未記入のままでお願いいたします。</label></div>
  <br>
  <input type="text" class="Form__Input" name="properties[差出人名]" aria-label="差出人名" placeholder="ご記入ください">
              <label class="Form__FloatingLabel">差出人名</label>
  
  </div>
  
  
