<div class="Grid">
  <br>
  <div class="Grid__Cell Form__Label">  <span style="font-size:1.2em; font-weight: bold;">＜お食事について＞</span><br>
    <span style="font-size:1.2em;">アレルギーがございましたら、ご記入ください。</span><br>
  <br>
  </div>
            <div class="Grid__Cell Form__Item">
              <input type="text" class="Form__Input" name="properties[アレルギー]" aria-label="アレルギー" placeholder="ご記入ください">
              <label class="Form__FloatingLabel">アレルギー</label>
            </div>
</div>