{% assign sellerList = "neten,御劔,51コラボー運がよくなる情報発信,日だまり,とほかみえみためサロン,田村瑞穂,岩井直也,ふふふ,サンシナジーSHOP,You are Me,ほつま,健康サロン クローバー,Y.Tsukada,フィールウェア オンラインショップ,d.MF三浦慶子,ナサラハ株式会社,NINE SENSE,なみのりふね武蔵小杉,akashic-yumiko,ハレル,山みずき,(株)オール・ライト,橋本右子,d.M F飯田,なみのりふね大阪,イチカワコーポレーション株式会社,凰庵,心とカラダの健康サロン クレア,enn.,終の栖,TOMRAMAT,Super Believe,瑞穂商店,kaoのハッピースマイル,たからぶね,（社）健康教育研究会,１９世紀の味京都農場,サムコーポレーション,開盛配管有限会社,株式会社モアナ,株式会社Ｃ・Ｌ・Ｂ,株式会社ＲＣＥ,たんぽぽとアザミ,高橋竜太,山本泰成,仙石義寛,ワイドビューオンラインショップ,5次元ポケット,濱田有為,小川暁,アトラストリーショップ,ロハス倶楽部ショップ,グレイス,エヴァ本物倶楽部,atelier8,神仲,ホリスティックヒーリングサロンMOMO,癒し屋ふわんふわんロゴストロンショップ,GLOBE SELECT,ハーモニー(ロゴストロン正規販売店),合同会社オガワ,タイロゴシスト,エンカレッジショップ・ルーエ,健幸通販のいわさ屋,ハートランドショップ,信州健康倶楽部,【一般社団法人国際整体協会】neten,Aproject - エープロジェクト -,ロハス村,奥歯科医院,縁筆家 片岡航也,グリーン・ぴあ,沖縄ロゴストロン・ネットショップ,幸せの窓口「サンジュネス」,Love Grace,マスターロゴシスト菅野康幸,ツリー・オブ・ライフ株式会社,5Dクリエイター桑原邦嘉,コバシャールの店,超人クラブ,クリスタルガーデン目白,ハートシード癒しパワー雑貨SHOP[阿佐ヶ谷],カイロベーシック,おかげさま,Integrated dual,斎藤一人さんのまるかんのお店キラリング,神戸水素研究所,プレマ株式会社(びんちょうたんコム/プレマルシェ),トータルヘルスデザインショップ,株式会社本物研究所,ワープ/エンペラー/ユニバーサル/Gコード/とほかみ" | split: ','%}

{% for reseller in sellerList %}
{% assign reseller_striped = reseller | strip %}
<option value="{{reseller_striped}}" {% if selectedSeller == reseller_striped %}selected {% endif %}>{{ reseller_striped }}</option>
{% endfor %}
